@import "../../resources/colors";
@import "../../resources/utils";

.recover-bg {
    background-color: white;
    padding: 2% 4%;
    color: $text-colour-dark;
    border-radius: px-to-rem(20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    width: 50%;
    max-width: px-to-rem(550);
}