@import "resources/colors";
@import "resources/utils";

.background {
    background: linear-gradient(to right, $primary-colour-dark, $primary-colour-light);
    width: 100%;
    height: 100vh;
    display: flex;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(15);
    align-items: center;
    margin-top: 8%;

    input {
        height: px-to-rem(43);
        width: 90%;
    }

    .links {
        display: flex;
        justify-content: space-between;
        width: 95%;

        a {
            text-decoration: none;
            color: $text-colour-dark
        }

        a:hover {
            text-decoration: underline;
        }
    }

    button {
        width: 100%;
        height: px-to-rem(43);
        margin-top: 5%;
    }
}

.center {
    align-items: center;
    justify-content: center;
}