@import "../../resources/colors";
@import "../../resources/utils";

.textbtn {
    border: none;
    border-radius: px-to-rem(15);
    font-size: px-to-rem(24);
    font-weight: bold;
    cursor: pointer;
}

.gradient {
    background: linear-gradient(to right, $primary-colour-dark, $secondary-colour);
    color: white;

    &:hover {
        background: $primary-colour-light;
    }
}

.grey {
    background-color: #DFDFDF;
    color: $text-colour-dark;
}

.plain {
    border: none;
    cursor: pointer;
}

.scale {
    width: px-to-rem(40);
    height: px-to-rem(40);
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;
    &:hover {
        background-color: $primary-colour-light;
    }
}
