@import "../../resources/colors";
@import "../../resources/utils";

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: px-to-rem(15);
    border: px-to-rem(2) solid $text-colour-dark;
    padding: px-to-rem(15) px-to-rem(2);
    gap: px-to-rem(7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 35%;
}

.buttonitem {
    font-size: px-to-rem(18);
    font-weight: 600;
    color: $text-colour-dark;
    margin: 0;
    padding: px-to-rem(5) 0px;
    border-radius: px-to-rem(5);
    border: none;
}

.hovereffect {
    &:hover {
        cursor: pointer;
        background-color: $primary-colour-light;
    }
}

.iconproperties {
    display: flex;
    align-items: center;
    gap: px-to-rem(20);
    padding: px-to-rem(0) px-to-rem(15);
    img {
        width: px-to-rem(40);
        height: px-to-rem(40);
    }
}

.inputcontainer {
    display: flex;
    padding: 0px px-to-rem(7);

    input {
        outline: none;
        border: none;
        font-size: px-to-rem(18);
        padding-top: px-to-rem(5);
        padding-bottom: px-to-rem(5);
        width: 100%;
    }

    button {
        border-radius: px-to-rem(10);
        font-size: px-to-rem(18)
    }
}

.choicemenu {
    padding: px-to-rem(20) px-to-rem(30);
    gap: px-to-rem(25);
    color: $text-colour-dark;

    h2 {
        margin: 0px;
        font-size: px-to-rem(20);
        text-align: center;
    }

    button {
        font-size: px-to-rem(18);
        padding: px-to-rem(5) px-to-rem(10);
        border-radius: px-to-rem(10);
    }
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}