@import "../../resources/colors";
@import "../../resources/utils";

.textfield {
    border-radius: px-to-rem(15);
    font-size: px-to-rem(16);
    padding: 0px px-to-rem(12);
    color: $text-colour-dark;
    border: px-to-rem(2) solid $text-colour-dark;
}